body {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

$darkgrey: #383838;
$grey: #f1f2f2;
$blue: #00467f;
$circlebg: #939598;
$orange: #e0a61b;
.divider {
    border-top: 10px solid $darkgrey;
    width: 200px;
    float: right;
    margin-top: 30px;
    margin-bottom: 40px;
}

// .container{
//     display: flex;
//     height: 100%;
//     align-items: center;
// }
.p50 {
    padding: 50px;
    position: relative;
}

.media {
    .media-body {
        vertical-align: middle;
        .media-heading {
            text-align: right;
            font-size: 40px;
            font-weight: 300;
            margin-right: 15px;
        }
    }
    .media-object {
        width: 70px;
    }
}

.disclaimer {
    text-align: right;
    font-size: 12px;
}

.fill-height {
    display: flex;
    height: 100%;
    >.row {
        display: flex;
        flex: 1 1 0%;
        flex-flow: column nowrap;
        place-content: stretch space-between;
        align-items: flex-end;
    }
    .content {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
}

/*buttons*/

.msform {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 20px;
    .iconcontainer{
        width: 300px;
        float: right;
    }
    .iconwrapper{
        span{
            font-size: 11px;
        }
    float: left;
    &:last-of-type{
        float: right;
    }
    img{
        margin-bottom: 5px;
    }
    }
    fieldset {
        position: absolute;
        width: 100%;
        &.part3{
            label{
                font-size: 20px;
                font-weight: 400;
                display: inline-block;
            }
        }
        // bottom: 0;
        // top: 0;
        &:not(:first-of-type) {
            display: none;
        }
        label{
            font-size: 24px;
            font-weight: 300;
            display: flex;
            margin-bottom: 15px;
        }
        &.part3{
            label{
                margin-bottom: 60px;
                margin-top: 5px;
            }
            .radiowrapper{
                float: right;
                input[type="radio"]:last-child{
                    margin-right: 0px;
                }
            }
            input[type="radio"]{
                margin-right: 21px;
            }
        }
        textarea{
            width: 100%;
            border:1px solid $grey;
        }
    }
    .indicator{
        width: 343px;
    float: right;
    text-align: center;
    margin-top: 5px;
        div{
            display: inline-block;
    width: 51px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
        }
    }
    .checkbox-inline{
        display:block !important;
    }
    .action-button {
        width: 100px;
        background: $orange;
        font-weight: bold;
        color: white;
        border: 0 none;
        float: right;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0;
    }
    /*headings*/
    .fs-title {
        font-size: 30px;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .fs-subtitle{
        font-weight:500;font-size: 18px;
    }
    .arrows{
        img{
            margin-right: 30px;
        }
    }
}


#surveypage, #registerpage{
    display: none;
}

.surveyprogress{
    background-color: $grey;
    padding: 15px 50px;
    align-items: center;
    display: flex;
    h2{
        color: $blue;
        display: inline-block;
        margin-top: 10px;
        font-size: 43pt;
        font-weight: 500;
    }
    .progresscounter, .progressregister{
        background-color: $circlebg;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 47px;
        text-align: center;
        color: #fff;
        display: inline-block;
        font-size: 32px;
        margin-right: 30px;
        &.register{
            line-height: initial !important;
        }
    }
}

input[type="text"], input[type="email"] {
width: 100%;
border: 2px solid $grey;
height: 40px;
border-radius: 0px;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
-ms-border-radius: 0px !important;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}







$custom-radio-size:                 32px;
$custom-radio-border-width:         1px;
$custom-radio-transition-speed:     100ms;
$custom-radio-inset-shadow:         inset 0 .1em 1px -.1em rgba(0,0,0,.3);

$custom-radio-pip-color:            #00467f;
$custom-radio-pip-size:             round($custom-radio-size * .6);

// States
$custom-radio-unchecked-bg:         white;
$custom-radio-unchecked-border:     transparentize(gray, .6);

$custom-radio-checked-bg:           mix($custom-radio-unchecked-bg, $custom-radio-pip-color, 60%);
$custom-radio-checked-border:       $custom-radio-pip-color;

$custom-radio-active-inset-shadow:  inset 0 0 2px 3px rgba(0,0,0,.1);

$custom-radio-focus-shadow:         0 0 0 2px transparentize(#00467f, .5);

$custom-radio-disabled-bg:          lighten(black, 91.8%);
$custom-radio-disabled-pip-color:   lighten(black, 80%);


// Check variable values
@if ($custom-radio-size % 2 == 1) { @error '$custom-radio-size must be even'; }
// round to nearest even number
@if ($custom-radio-pip-size % 2 == 1) { $custom-radio-pip-size: $custom-radio-pip-size - 1; }


input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
  position: relative;
  display: inline-block;

  width:  $custom-radio-size - 2;
  height: $custom-radio-size - 2;

  border-radius: 100%;
  outline: none !important;
  -webkit-appearance: none;
  
  // Radio
  // -----

  &::before {
    position: relative;
    top:  -$custom-radio-border-width;
    left: -$custom-radio-border-width;
    display: block;
    content: '';


    background: $custom-radio-unchecked-bg;
    border: $custom-radio-border-width solid $custom-radio-unchecked-border;
    border-radius: 100%;
    box-shadow: $custom-radio-inset-shadow;

    width:  $custom-radio-size;
    height: $custom-radio-size;
  }

  &:active::before {
    box-shadow: $custom-radio-inset-shadow,
                $custom-radio-active-inset-shadow;
  }

  &:focus::before {
    box-shadow: $custom-radio-inset-shadow,
                $custom-radio-focus-shadow;
  }

  &:checked::before {
    background: $custom-radio-checked-bg;
    border-color: $custom-radio-checked-border;
  }

  &:disabled::before {
    cursor: not-allowed;
    background-color: $custom-radio-disabled-bg;
    border-color: transparentize($custom-radio-unchecked-border, .2);
  }



  // Radio Pip
  // ---

  &::after {
    position: relative;
    top: -($custom-radio-size / 2) - $custom-radio-border-width;
    left: ($custom-radio-size / 2) - $custom-radio-border-width;


    display: block;
    content: '';

    background: $custom-radio-pip-color;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);

    width:  0;
    height: 0;
  }

  &:checked::after {
    transition: all ease-in-out $custom-radio-transition-speed 0;
    top:  -26px;
    left: 6px;
    width:  $custom-radio-pip-size;
    height: $custom-radio-pip-size;
  }

  &:disabled::after {
    background: $custom-radio-disabled-pip-color;
  }
}

#hideMsg{
    font-size: 15px;
    color: $blue;
}
.error-register{
    color: red;
    font-weight: bold;
    display: none;
    float: right;
    clear: both;
}
.error-survey{
    display: none;
    color: red;
    font-weight: bold;
    position: fixed;
    bottom: 0;
}